<%- include('../partials/header') %>

    <div class="faculty-header">
        <h1><%= facultyMember.name %></h1>
        <img src="/images/faculty/<%= facultyMember.slug %>.jpg" alt="<%= facultyMember.slug %>.jpg" class="faculty-photo-large">
        <p class="faculty-title"><%= facultyMember.title %></p>
        <p class="faculty-department"><%= facultyMember.department %></p>
    </div>

    <div class="sections">
        <div class="faculty-contact">
            <p class="faculty-office">Office: <%= facultyMember.office %></p>
            <p class="contact-item" class="faculty-email">Email: <a href="mailto:<%= facultyMember.email %>"><%= facultyMember.email %></a></p>
            <p class="faculty-phone">Phone: <%= facultyMember.phone %></p>
        </div>
    </div>

    <div class="navigation">
        <p><a href="/faculty">&larr; Back to Faculty List</a></p>
    </div>

<%- include('../partials/footer') %>